# Created a script that pulls the token from AWS-ECR
ACCOUNT={{ aws_account }}
SECRET_NAME={{ aws_region }}-ecr-registry
EMAIL=email@email.com

#
#

TOKEN=`aws ecr get-login --no-include-email --region {{ aws_region }} | cut -d' ' -f6`

#
#  Create or replace registry secret
#

kubectl delete secret --ignore-not-found $SECRET_NAME
kubectl create secret docker-registry $SECRET_NAME \
 --docker-server=https://{{ aws_account }}.dkr.ecr.{{ aws_region }}.amazonaws.com \
 --docker-username=AWS \
 --docker-password="${TOKEN}" \
 --docker-email="${EMAIL}"
